<ion-view view-title="Company">
  <ion-content>
  <ion-list>
  	<ion-item>
    <h2>Company Name: {{company.company}}</h2>
    <h2>Address: <br> </h2>
    {{company.address1}}<br>
    {{company.address2}}<br>
    {{company.address3}}<br>
    {{company.address4}}<br>
    {{company.address5}}
    <h2>Registration Number: {{company.registration_number}}</h2>
	<h2>Malaysian Bank Account: {{company.bank_account_MY}}</h2>
	<h2>Singaporean Bank Account: {{company.bank_account_SG}}</h2>
	<h2>Submitted by: {{company.submitted_by}}</h2>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
