<ion-view view-title="Companies">
  <ion-content>
  	<ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="doRefresh()">
	</ion-refresher>
    <div class="list list-inset">
      <label class="item item-input">
	    <input type="text" placeholder="Company Name" ng-model="company.name">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Company Address" ng-model="company.address1">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Company Address 2" ng-model="company.address2">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Company Address 3" ng-model="company.address3">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Company Address 4" ng-model="company.address4">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Company Address 5" ng-model="company.address5">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Registration Number" ng-model="company.registration_number">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Malaysian Bank Account Number" ng-model="company.bmy">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Singaporean Bank Account Number" ng-model="company.bsg">
	  </label>
	  <button class="button button-block button-positive" ng-click="addCompany(company)">
	  	Add company
	  </button>
    </div>
	
	<ion-list can-swipe="listCanSwipe">
	  	<ion-item ng-repeat="company in companies" class="item item-text-wrap" href="#/app/companies/{{company.company_id}}">

	    <!-- companies.updateCompany(company) -->
	    <h2>{{company.company}}</h2>		

	    <ion-option-button class="button-positive"
	                       ng-click="updatePopup(company, 'Update')">
	      <!-- Edit -->
	      <i class="icon ion-edit"></i>
	    </ion-option-button>

	    <ion-option-button class="button-assertive"
	                       ng-click="deleteCompany($index, company.company_id)">	      
	      <!-- Delete -->
	      <i class="icon ion-trash-a"></i>
	    </ion-option-button>

	  	</ion-item>
	</ion-list>

	<ion-infinite-scroll  ng-if="!noMoreItemsAvailable"
  on-infinite="loadMore(5)" distance="10%"></ion-infinite-scroll>

  </ion-content>
</ion-view>